.header__lang-link {
  margin-right: 18px;
  text-align: right;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
