.description {
  margin: 92px auto 0;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .description {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .description {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .description {
    max-width: 288px;
    margin: 64px auto 0;
  }
}
