.description {
  margin: 92px auto 0;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .description {
    width: 90%;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .description {
    width: 95%;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .description {
    width: 90%;
    margin: 66px auto 0;
  }
}
