/*div {
  outline: 2px solid red;
}

section {
  outline: 2px solid red;
}

header {
  outline: 2px solid red;
}

h1 {
  outline: 2px solid red;
}

h2 {
  outline: 2px solid red;
}

h3 {
  outline: 2px solid red;
}

p {
  outline: 2px solid red;
}

img {
  outline: 2px solid red;
}

a {
  outline: 2px solid red;
}*/

.page {
  max-width: 1184px;
  margin: 0 auto 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  background-color: #2A2C2F;
  color: white;
}

@media screen (max-width: 320px) {
  .page{
  overflow: hidden;
  }
}
