.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 15px 16px;
  margin: 92px auto 94px;
}

@media screen and (max-width: 1279px) {
  .gallery {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 300px));
    gap: 14px 14px;
    margin: 0 auto 92px;
  }
}

@media screen and (max-width: 1023px) {
  .gallery {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 352px));
    gap: 16px 16px;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    max-width: 288px;
    grid-template-columns: 288px;
    row-gap: 12px;
    margin: 0 auto 64px;
  }
}
