.lead-page__title {
  max-width: 720px;
  width: 100%;
  margin: 0 auto 0;
  line-height: 1.05;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
}


@media screen and (max-width: 320px) {
  .lead-page__title {
    font-size: 40px;
  }
}
